@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Urbanist:ital,wght@0,400;0,500;0,600;0,700;1,200&display=swap");

// COLORS
$clr-dark: #202122;
$clr-light: #fcf0cc;
$clr-gray: #616162;
$clr-tertiary: #ccb8b0;
$clr-secondary: #c18367;
$clr-primary: #a0583c;

// FONTS
$ff-primary: "Urbanist", sans-serif;
$ff-secondary: "Cookie", sans-serif;
